@import '../globals';

.location-details {
  min-height: 50vh;
  text-align: center;
  h3 {
    font-size: 25px;
    font-size: 1.38889rem;
    font-weight: 600;
    margin: 0 0 0.8em;
    @media (max-width: $normalPhone) {
      text-align: center;
    }
  }
  a {
    color: white;
  }
  .details--element {
    width: 30%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
    p {
      line-height: 1.8em;
    }
    @media (min-width: $normalPhone) {
      &:first-child {
        padding-right: 75px;
        text-align: right;
        border-right: 1px solid #548a7f;
      }
      &:last-child {
        padding-left: 75px;
        text-align: left;
      }
    }
    @media (max-width: $normalPhone) {
      width: 90%;
      padding: 0;
      margin: 0 5%;
      padding-top: 5%;
      &:last-child {
        border-top: 1px solid;
      }
    }
  }
  @media (max-width: $normalPhone) {
    text-align: left;
  }
}