@import '../globals';

.event {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  overflow: hidden;
  text-align: left;
  margin: 50px 0;
  .details {
    width: 60%;
    padding-left: 35px;
    h3 {
      font-size: 20px;
      font-size: 1.11111rem;
      font-weight: 600;
      color: #3e3e3e;
      margin: 0 0 0.9em;
      text-transform: uppercase;
      @media (max-width: $normalPhone) {
        text-align: center;
      }
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0 0 15px;
      li {
        font-size: 16px;
        font-size: 0.88889rem;
        color: #a9a9a9;
        position: relative;
        padding-left: 22px;
        a {
          font-weight: normal;
          color: #a9a9a9;
        }
        .event-icon {
          color: #5e9a8e;
          position: absolute;
          left: 0;
          @media (max-width: $normalPhone) {
            position: relative;
          }
        }
        @media (max-width: $normalPhone) {
          padding: 0;
        }
      }
    }
    p {
      color: #767878;
      line-height: 1.8em;
      margin: 0 0 10px
    }
    a {
      font-weight: 600;
      color: #5e9a8e;
      display: inline-block;
      margin-top: 5px;
      text-decoration: none;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s;
      background-color: transparent;
    }
    @media (max-width: $normalPhone) {
      width: 90%;
      padding: 0;
      margin: 5% 5% 20%;
    }
  }
  .image {
    img {
      display: block;
      max-width: 100%;
      vertical-align: middle;
      border: 0;
      width: 500px;
      height: 360px;
      float: right;
    }
  }
  @media (max-width: $normalPhone) {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
}