.rsvp {
    margin: 0 auto;
    width: 50vw;
}

.rsvp .form {
    text-align: left;
}

.rsvp .form p {
    margin-bottom: 50px;
}

.rsvp .form .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
    margin-bottom: 1.5em;
}

.rsvp .form .textArea textarea {
    height: 150px;
}

.form-control {
    background: #e6eceb;
    height: 32px;
    border: 0;
    color: #2a2a2a;
    padding: 6px 0 6px 19px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: 0;
}

select {
    width: 104% !important;
    background: #e6eceb;
    height: 43px !important;
    font-size: 16px;
    font-size: 0.88889rem;
    border: 0;
    color: #2a2a2a;
    padding: 6px 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    cursor: pointer;
}

select.form-control {
    color: #2a2a2a;
    background: #e6eceb url(/images/select-icon.png) no-repeat calc(100% - 15px) center;
}

.rsvp .controls {
    margin-top: 1.5em;
    text-align: center;
}

.rsvp .controls button {
    background-color: #e6eceb;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-size: 0.88889rem;
    font-weight: 600;
    color: #479c8e;
    padding: 0 15px;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.controls p {
    margin-bottom: 20px !important;
}