@import '../globals';

.rsvp {
  margin: 0 auto;
  width: 50vw;
  .location-details {
    min-height: auto;
    margin-bottom: 2em;
  }
  h1 {
    font-weight: lighter;
  }
  .contact-points {
    span {
      display: block;
      a {
        text-decoration: none;
      }
    }
  }
  @media (max-width: $normalPhone) {
    width: 80vw;
  }
}