.back-to-top {
    left: 50%;
    margin-top: -20px;
    position: absolute;
}

.back-to-top a span {
    position: absolute;
    -webkit-animation: pointerMoving 1.3s infinite;
    animation: pointerMoving 1.3s infinite;
}