nav {
    display: block;
    position: fixed;
    width: 100%;
    background-color: #ffffffde;
    z-index: 9999;
    top: 0;
    border-bottom: 1px solid #ececec;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10em;
    margin: 1em 0.5em 0.5em
}

.menu h1 {
    font-family: "Great Vibes", cursive;
    font-size: 35px;
    font-size: 1.94444rem;
    margin: 0;
    text-shadow: 1px 1px 2px #999999;
    color: #5e9a8e;
}

.menu h1 span:first-child {
    padding-right: 1em;
}

.menu h1 span:last-child {
    padding-left: 0.8em;
}

.menu h1 svg {
    color: #5e9a8e70;
}

.nav--inline {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: 0;
    display: inline-block;
    float: left;
}

.nav--inline li {
    position: relative;
    float: left;
}

.nav--inline li a {
    font-size: 18px;
    font-size: 1rem;
    font-weight: 600;
    color: #413d3d;
    padding: 35px 17px;
    text-transform: uppercase;
}