.teaser {
    background-position: 52% -84%;
    background-size: cover;
    padding: 160px 0;
}

.teaser h2 {
    font-family: "Great Vibes", cursive;
    font-size: 75px;
    font-size: 4.16667rem;
    color: #fff;
    margin: 0;
}

.teaser h2 span {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-size: 1.66667rem;
    display: block;
    margin-bottom: 0.6em;
}