@import '../globals';

.teaser {
  text-align: center;
  background-size: cover;
  padding: 160px 0;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-background-size: cover !important;;
  -moz-background-size: cover !important;;
  -o-background-size: cover !important;;
  background-size: cover !important;
  h2 {
    font-family: "Great Vibes", cursive;
    font-size: 75px;
    font-size: 4.16667rem;
    color: #fff;
    margin: 0;
    letter-spacing: 5px;
    margin-bottom: 10px;
    span {
      font-family: "Dosis", sans-serif;
      font-size: 30px;
      font-size: 1.66667rem;
      display: block;
      margin-bottom: 0.6em;
    }
  }
  .teaser--sub_caption {
    color: white;
  }
  @media (max-width: $normalPhone) {
    background-attachment: scroll !important;
    background-size: 150% !important;
  }
}