.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.la {
    float: right;
}

.bg-gray {
    background-color: #f9f9f9;
}

body {
    font-family: "Dosis", sans-serif;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar-thumb {
    background-color: #5e9a8e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

.underline {
    text-decoration: underline;
}